body {
  margin: 0;
  padding: 0;

  font-family: "PTSans", "Arial", sans-serif;
  line-height: 24px;
  width: 1200px;
}

a {
  text-decoration: none;
  color: inherit;
}

address, address a {
  font-style: normal;
}

ul {
    list-style: none;
    padding-inline-start: 0;
}


.button {
  text-transform: uppercase;
}

/* HEADER */

.main-header {
  font-family: "Cuprum", sans-serif;
  margin-bottom: 55px;
  display: flex;
  flex-direction: column;
}

.main-header p {
  margin: 0;
}


.h1-index {
  display: none;
}

.first-header-block {
  display: flex;
  justify-content: center;
  align-items: center;

  color: #ffffff;
  font-size: 17px;
  background-color: #293449;
  height: 42px;
  min-width: 1200px;
  }

  .first-header-block p a {
    text-align: center;
    vertical-align: middle;
  }

.logo {
  background-color: #ee3643;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  width: 220px;
  height: 47px;
  text-align: center;
  margin-right: 17px;
}

.logo img {
  margin-top: 13px;
  margin-bottom: 15px;
}

.logo:hover {
  background-color: #ca2c37;
}

.logo:active {
  background-color: #ba2732;
}

.search {
  height: 100%;
  margin-right: 17px;
  padding-left: 17px;
  background-color: inherit;
  line-height:
}

.search form {
  display: flex;
  align-items: baseline;
}

/*.search::before {
content: "";
background-image: url("../img/svg/icon-search.svg");
background-repeat: no-repeat;
width: 17px;
height: 17px;
margin-right: 15px;
opacity: 0.3;
} */

.search label {
  margin-right: 15px;
  opacity: 0.3;
}

.search label:hover {
  opacity: 1;
}

.search input {
  background-color: inherit;
  border: 0px;
  height: 42px;
  width: 270px;
}

.search input::-webkit-input-placeholder {
  color: #ffffff;
  font-size: 17px;
}

.search input:focus {
  background-color: #ffffff;
  color: #000000;
}

.search:hover {
  background-color: #212a3a;
}

.search:focus {
  color: red;
}

.user-navigation {
  display: flex;
  justify-content: flex-start;

  color: white;
}

.user-navigation p {
  margin-left: 15px;
}

.marker {
  margin-right: 46px;
  display: flex;
  align-items: center;
}

.marker::before {
  content: "";
  background-image: url("../img/svg/icon-bookmark.svg");
  background-repeat: no-repeat;
  width: 14px;
  height: 16px;
  margin-right: 10px;
  opacity: 0.3;
}

.cart {
  margin-right: 31px;
  display: flex;
  align-items: center;
}

.marker:hover,
.cart:hover {
  background-color: #212a3a;
}

.marker:active,
.cart:active {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}

.checkout {
  background-color: #63a63e;
  height: 42px;
  display: flex;
  align-items: center;
}

.checkout a {
  padding: 14px 22px 13px 20px;
}

.checkout:hover
.checkout:focus {
  background-color: #5fbb2d;
}

.checkout:active {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.5);
}

.last-header-block {
  background-color: #f4f7f9;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  min-height: 278px;
}

.middle-header-wrap {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-left: 183px;
  margin-right: 130px;
  margin-bottom: 44px;
  margin-top: 46px;
}

.middle-header-wrap > p {
  color: #ee3643;
  font-style: italic;
  padding-top: 8px;
}

.address {
  display: flex;
  flex-direction: column;
}

.address p:first-child {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  color: #ee3643;
  font-size: 21px;
  border: 3px solid #ffffff;
  margin-bottom: 7px;
  width: 270px;
  height: 45px;
}

.address p:first-child::before{
  content: "";
  background-image: url("../img/svg/icon-phone.svg");
  background-repeat: no-repeat;
  background-size: 19px 19px;
  display: inline-block;
  width: 19px;
  height: 19px;
  margin-right: 40px;
  margin-left: 15px;
}

.address p:last-child {
  color: #32425c;
  font-size: 14px;
  text-align: center;
}

.login {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin: 0;
}

.login li{
  font-size: 21px;
  color: #000000;
  background-color: #ffffff;
  margin-left: 10px;
}

.login li:hover {
  color: #ee3643;
}

.login li:active {
  color: rgba(0, 0, 0, 0.3);
}

.login li a {
  display: block;
  padding: 14px 25px 11px 25px;
}

.main-navigation {
  color: #ffffff;
  font-size: 17px;
  background-color: #32425c;
  box-shadow: inset 0px -5px 0 0 #293449;
  margin-bottom: 60px;
  margin-left: 130px;
  margin-right: 130px;
}

.main-navigation ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.main-navigation li:hover {
  background-color: #1d2739;
}

.main-navigation li:active {
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5);
}



/* Banners on index.html */

.banners-list ul {
   list-style: none;
}



/* About company block */

.about-company, .contacts h2 {
  font-size: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
}

.about-company p {
  font-family: "PTSans" "Arial", sans-serif;
  font-size: 13px;

}

.about-company ul {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  list-style: none;
}

.about-company a {
  color: #ffffff;
  background-color: #ee3643;
  font-size: 14px;
  text-align: center;
}

.contacts a {
  color: #ffffff;
  background-color: #ee3643;
  font-size: 14px;
  text-align: center;
}



/* FOOTER */

footer {
  font-family: "Cuprum", "Arial", sans-serif;
}

.first-footer-block {
  background-color: #32425c;
  font-size: 18px;
}

.first-footer-block address {
  color: #f3f7f9;
  font-size: 18px;
  line-height: 24px;
}

.first-footer-block ul:first-of-type {
  color: #f1f5f7;
}

.first-footer-block ul:last-of-type {
  color: #ffd180;
}

.first-footer-block ul li:hover {
  text-decoration: underline;
}

.first-footer-block ul li:active {
  color: rgba(241, 245, 247, 0.5);
}

.last-footer-block {
  background-color: #293449;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.logo-footer {
  background-color: #ee3643;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.last-footer-block li {
  background-color: #212a3a;
}

.last-footer-block li:hover {
  background-color: #ee3643;
}

.last-footer-block li:active {
  background-color: #ee3643;
}

.last-footer-block span {
  color: #ffd180;
}

.last-footer-block span:hover {
  color: #ffd180;
  text-decoration: underline;
}

.last-footer-block span:active {
  color: #ee3643;
}

/* MODAL FORMS */

.map-modal {
  box-shadow: 0 0 14.7px 1.3px rgba(47, 42, 43, 0.5);
}

.index-modal-form {
  box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.main-part-modal {
  border-top: 7px solid #ff5357;
}

.index-modal-form label {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
}

.index-modal-form input {
  color: #a9a9a9;
  font-size: 13px;
  text-transform: none;
}

.submit-modal {
  background-color: #f4f4f4;
}

.submit-modal button {
  background-color: #ee3643;
  color: #ffffff;
  font-family: "Cuprum", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  border: none;
}



/* INNER PAGE */


/* HEADER */

.cart-full {
  background-color: #ee3643;
}

.checkout-active {
background-color: #63a63e;
}

.logged {
background-color: #ffffff;
color: #000000;
font-size: 21px;
}

.logged:hover {

}

.logged:active {
  color: rgba(0, 0, 0, 0.3);
}

.personal-data {
  color: #32425c;
  font-size: 16px;
  text-decoration: underline;
}

.personal-data li:hover {
  color: #ee3643;
  font-size: 16px;
  text-decoration: underline;
}

.personal-data li:active {
  color: rgba(50, 66, 92, 0.3);
  font-size: 16px;
  text-decoration: underline;
}


/* MAIN*/

.breadcrumps ol {
font-size: 13px;
text-transform: uppercase;
}

.breadcrumps h1 {
  background-color: #f2f6f8;
  color: #32425c;
  text-transform: uppercase;
}

/*FILTER*/

.filter-header {
background-color: #f7f3ec;
font-size: 13px;
}

fieldset {
  border: 0 none;
}

.filter legend {
  text-transform: uppercase;
  font-size: 17px;
}

fieldset input {
  text-transform: uppercase;
  font-size: 15px;
  line-height: 20px;
}

.filter button {
  text-transform: uppercase;
  font-size: 13px;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
}

/* SORTING*/

.sorting {
  border-color: #f7f3ec;
  text-transform: uppercase;
  font-size: 13px;
}

.sorting span {
  font-weight: bold;
}

.sorting-date li:first-child {
  color: #ee3643;
}

.sorting-date li:nth-child(2) {
  border-bottom: 1px dashed #ee3643
}

.sorting-date li:nth-child(3) {
  border-bottom: 1px dashed #ee3643
}

.catalog h3 {
  font-size: 18px;
}

.catalog del {
  color: #999999;
  font-weight: bold;
}

.price {
  color: #ffffff;
  font-size: 17px;
  background-color: red;
  font-weight: bold;
}

.add-to-cart {
  background-color: #63a63e;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
}

.add-to-favourite{
  border: 3px solid #63a63e;
  color: #32425c;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #ffffff;
}

.description-inner {
  background-color: #f4f7f9;
}

.description-inner h2 {
  text-transform: uppercase;
  font-size: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
}

.description-inner p {
  font-size: 13px;
  line-height: 24px;
}

/* MODAL FORMS INNER */

.add-to-cart-message {
  box-shadow: 0px 20px 40px 0 rgba(41, 52, 73, 0.75);
  font-family: "Cuprum", "Arial", sans-serif;
  border-top: 7px solid #ff5357;
}

.add-to-cart-message h3 {
  font-size: 30px;
}

.add-to-cart-message div::before {
  background-image: url("img\svg\modal-check.svg");
}

.button-side {
  background-color: #f1f1f1;
}

.button-side a {
  background-color: #ee3643;
  color: #ffffff;
}

.button-side button:first-of-type {
  background-color: #ffffff;
  border: none;
}
